# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# Data
data/raw/*.csv
data/processed/*.csv
data/logs/*.txt

# ML
ml/models/*.pkl
ml/reports/assets/
ml/reports/*.html

# Node
node_modules/
dist/
*.local

# OS
.DS_Store
Thumbs.db

# Large files
*.log
