# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# Node
node_modules/
dist/
*.local

# OS
.DS_Store
Thumbs.db

# Large files
*.log

# Large model files (too big for GitHub)
ml/models/random_forest.pkl
